*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(49, 49, 49);
  font-family: "Open Sans", sans-serif;
}

.site-title {
  position: fixed;
  top: 0;
  height: 8rem;
  width: 100vw;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  letter-spacing: 1rem;
  background: rgb(17, 17, 17);
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
  text-align: center;
  margin: 0rem 0 9rem 0;
  text-transform: uppercase;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 100%;
  background: #fff;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
  border-radius: 0.2rem;
}

.container div:first-child {
  margin-right: 2rem;
}

.container div:nth-child(2) {
  margin-left: 2rem;
}

.container h2 {
  font-size: 2rem;
}

.container a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  background: rgb(248, 64, 95);
  color: #fff;
  padding: 1rem 4rem;
  margin-top: 5rem;
  border-radius: 0.5rem;
}

.container a:hover {
  opacity: 0.8;
}

.subject {
  margin-top: 15rem;
  margin-bottom: -6rem;
  font-style: italic;
  font-size: 2rem;
}
.resources,
td,
th {
  border: 0.1rem solid rgb(129, 127, 127);
}

td,
th {
  padding: 1rem;
  font-size: 1.4rem;
}

.wrapper {
  margin-top: 10rem;
  overflow-x: auto;
  width: 80%;
}
.resources {
  border-collapse: collapse;
  background: #fff;
  width: 100%;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
}

th {
  background-color: rgb(248, 64, 95);
  color: #fff;
  font-size: 2rem;
  text-align: left;
  font-family: Helvetica, sans-serif;
}

td {
  font-family: Arial, Helvetica, sans-serif;
}
.resources tr:nth-child(even) {
  background-color: #f2f2f2;
}

.resources td ul {
  margin-left: 1rem;
}

.resources td ul li {
  margin: 1rem auto;
}

.resources td a {
  text-decoration: none;
  color: black;
}

.resources td a:hover {
  color: grey;
}
.back-btn {
  position: absolute;
  top: 9rem;
  left: 2rem;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}

.back-btn:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.2rem;
    margin: 18rem 0 2rem 0;
  }
  .container {
    flex-wrap: wrap;
  }

  .container div:first-child {
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .container div:nth-child(2) {
    margin: 2rem 0;
  }
  .resources th {
    font-size: 1.4rem;
  }
}
